{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="main-info">
    <div class="info-text">
        <h2>Кто такой СИБ?</h2>
        <p>Специалист по информационной безопасности — это профессионал, который отвечает за защиту информационных систем и данных от угроз, таких как кибератаки, вирусы, утечки информации и другие виды инцидентов. В условиях стремительного роста цифровых технологий и увеличения объемов обрабатываемой информации, роль специалистов по информационной безопасности становится все более важной.</p>
        <p>Основные задачи специалиста по информационной безопасности заключаются в анализе и оценке рисков, связанных с информационными системами, разработке и внедрении мер защиты, мониторинге состояния безопасности, а также реагировании на инциденты. Эти специалисты работают в различных сферах, включая финансовые учреждения, государственные органы, медицинские организации и IT-компании.</p>
    </div>
    <div class="info-image-first">
        <img src="{% static 'img/comp_img.jpg' %}" alt="Безопасник за компьютером">
    </div>
</div>

<div class="duty-info">
    <div class="duty-image">
        <img src="{% static 'img/draw_img.jpg' %}" alt="Нарисованный безопасник">
    </div>
    <div class="duty-text">
        <h2>Ключевые обязанности специалиста по информационной безопасности включают:</h2>
        <ul>
            <li>Анализ рисков: Оценка уязвимостей информационных систем и потенциальных угроз. Это помогает выявить слабые места и разработать стратегию защиты.</li>
            <li>Разработка политик безопасности: Создание и внедрение внутренних регламентов и процедур, направленных на обеспечение безопасности данных и систем.</li>
            <li>Мониторинг и аудит систем: Постоянный контроль за состоянием информационных систем и проведение регулярных аудитов для выявления несоответствий и потенциальных угроз.</li>
            <li>Реагирование на инциденты: Быстрое и эффективное реагирование на инциденты безопасности, включая анализ причин, устранение последствий и предотвращение повторения.</li>
            <li>Обучение сотрудников: Проведение тренингов и семинаров для сотрудников компании по вопросам безопасности, чтобы повысить общий уровень осведомленности и снизить риск человеческого фактора.</li>
        </ul>
    </div>
</div>
<div class="main-info">
    <div class="info-text">
        <p>Специалисты по информационной безопасности должны обладать широким спектром знаний и навыков. К ним относятся знания в области сетевых технологий, криптографии, операционных систем и правовых аспектов информационной безопасности. Также важны аналитические способности, умение работать в команде и способность к быстрой адаптации к изменениям.</p>
        <p>С увеличением числа кибератак и утечек данных, спрос на специалистов по информационной безопасности продолжает расти. Это создает хорошие перспективы для карьерного роста и развития. Специалисты могут продвигаться по карьерной лестнице до таких должностей, как руководитель службы информационной безопасности (CISO) или консультант по безопасности.</p>
    </div>
    <div class="info-image-second">
        <img src="{% static 'img/hand_img.jpg' %}" alt="Рука безопасника">
    </div>
</div>
{% endblock %}