body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding:10px;
}

header h1{
    margin: 0;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 10px;
}
.container {
    display: flex;
}
.sidebar {
    width: 200px;
    height: auto;
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #ddd;
}
.content {
    flex: 1;
    padding: 20px;
}

img {
    width:600px;
    height:300px;
}

.main-info{
    display:flex;
    align-items: flex-start;
}

.info-text {
    flex: 1;
}

.info-image-first{
    margin-left:20px;
    margin-top:20px;
}

.info-image-second{
    margin-left:20px;
    margin-top:20px;
}

.info-image-first img {
    width:600px;
    height:300px;
}

.info-image-second img {
    width:600px;
    height:350px;
}

.duty-info{
    display:flex;
    align-items: flex-start;
}

.duty-text {
    flex: 1;
}

.duty-image{
    margin-right:20px;
    margin-top: 20px;
}

.duty-image img {
    width:600px;
    height:325px;
}