{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проект</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <h1>Проект</h1>
    </header>
    <div class="container">
        <div class="sidebar">
            <h2>Меню</h2>
            <a href="{% url 'main_page' %}">Главная страница</a>
            <a href="{% url 'all_vacancies' %}">Общая статистика</a>
            <a href="{% url 'prof_relevance' %}">Востребованность</a>
            <a href="{% url 'geography' %}">География</a>
            <a href="{% url 'skills' %}">Навыки</a>
            <a href="">Последние вакансии</a>
        </div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </div>

    <footer>
        <p>Ситдиков Сергей Дмитриевич</p>
        <p>РИ-230910</p>
    </footer>
</body>
</html>