body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: left;
}

header h1{
    margin: 0;
    margin-left: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    background: #35424a;
    color: #ffffff;
    padding: 20px;
    flex: 1;
    max-width:200px;
}

.sidebar a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 0;
    transition: background 0.3s;
}

.sidebar p {
    display: block;
    color: #b5b5b5;
    padding: 10px 0;
    margin: 0;
}

.sidebar a:hover {
    background: #444f56;
}

.content {
    background: #fff;
    padding: 20px;
    flex: 3;
    margin-left: 20px;
}

.content h2 {
    font-size: 1.8em;
}

.content img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #35424a;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

img.chart {
    width: 1000px;
    height:500px;
}

.container {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
}

.main-info{
    display:flex;
    align-items: flex-start;
}

.info-text {
    flex: 1;
}

.info-image-first{
    margin-left:20px;
    margin-top:70px;
}

.info-image-second{
    margin-left:20px;
    margin-top:20px;
}

.info-image-first img {
    width:600px;
    height:300px;
    margin: 0;
    border-radius: 8px;
}

.info-image-second img {
    width:600px;
    height:350px;
    border-radius: 8px;
}

.duty-info{
    display:flex;
    align-items: flex-start;
}

.duty-text {
    flex:1;
    margin-top:20px;
}

.duty-image{
    margin-right:20px;
    width:600px;
}

.duty-image img {
    width:600px;
    height:325px;
    border-radius: 8px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc
}

ul li {
    padding: 5px;
    color: #333;
}

strong {
    color: #2980b9;
}

p {
    margin: 10px 0;
    color: #34495e;
}

.container-vac {
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom:20px;
}

.toggle-content {
    display: none;
}

.toggle-button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
}

.toggle-button:hover {
    background-color: #1f6391;
}

.container_vac span{
    font-color:red;
}
